<div>
  books sections
</div>

<!--<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Category</th>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Des</th>
        <th>Product Stock</th>
        <th>Product Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let product of books">
        <td></td>
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productDesc}}</td>
        <td>{{product.productStock}}</td>
        <td>{{product.productPrice}}</td>
        <td><button class="btn btn-primary">View</button></td>
      </tr>
    </tbody>
  </table>
</div>-->